@import '../mixins.scss';

.big_container_sign_up {
  @include default-big-container;
  h3 {
    margin-bottom: 5rem;
    max-width: 25rem;
    text-align: center;
  }
}

.column {
  a {
    color: #ffffff;
  }
}

.big_subcontainer {
  @include default-subcontainer;
  margin-bottom: 50px;
}

.seperator-line {
  height: 250px;
  position: absolute;
  left: 50%;
  top: 35%;
  bottom: 10%;
  border-left: 1px solid white;
}

.sign-up-svg {
  width: 200px;
  margin-bottom: 30px;
}

.circle {
  width: 190px;
  height: 190px;
  border-radius: 50%;
  border: 2px solid white;
}
