.login {
    .option-list {
        margin: 0 auto;
        width: 80%;
        figure {
            height: 2.5rem;
            width: 2.5rem;
        }
        .provider-name {
            font-weight: 400;
            font-size: 1.5rem;
            line-height: 2.5rem;
        }
    }
}