@import "../../mixins.scss";

.invitation_list_container {
  @include default-big-container;
  margin-left: 40%;
  justify-content: space-between;
  align-items: flex-start;
  height: 25%;
  width: 50%;
}
