@import '../mixins.scss';

.big_container_sign_up_existing_tenant {
  @include default-big-container;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 30px;
  padding-right: 30px;
}

.ask_to_join_btn {
  position: absolute;
  bottom: 20px;
  right: 30px;
}

.input-style {
  background: rgba(0, 0, 0, 0.6);
  border: 2px solid #ffffff;
  border-radius: 0;
  color: #ffffff;
}

.button-style {
  color: #ffffff;
  background: rgba(255, 255, 255, 0.2);
  border: 2px solid rgba(255, 255, 255, 0.4);
  box-shadow: none;
  border-radius: 0;
}

@media only screen and (max-width: 600px) {
  .big_container_sign_up_existing_tenant {
    width: 100%;
    height: 100%;
    
    h1 {
      font-size: 2rem;
    }
  }
}

@media only screen and (min-width: 600px) {
  .big_container_sign_up_existing_tenant {
    width: 90%;
  }
}
