@import "../../styles/Settings/all.scss";
@import "../../styles/Tools/all.scss";
.requests-list {
    td.name{
        white-space: nowrap;
    }
    td.action-buttons {
        button:first-child {
            margin-right: $grid-gutter/2;
        }
    }
    button {
        font-size: .875rem;
        padding: $grid-gutter/3;
        text-transform: uppercase;
    }
}