@import "../styles/Settings/all";
main {
    padding: $grid-gutter*2 $grid-gutter;
    flex: 1 1 auto;
}

footer {
    background-color: $color-brand-grey;
    color: $color-light-grey;
    flex: 0 0 5rem;
    padding: $grid-gutter;
    text-align: center;
    width: 100vw;
}