<template>
  <require from="./container.scss"></require>
  <require from="../invite_user/invite_user"></require>
  <require from="../invitaiton_list/invitation_list"></require>
  <div class="acrylic container">

    <div class="users-top-menu">
      <span class="users-title"> <h1>users</h1> </span>
      <span class="users-crud-menu">
        <p click.trigger="showInviteDialog()">Invite</p>
        <invite_user if.bind="display_invite_dialog" class="invite-user" displaybool.two-way="display_invite_dialog"></invite_user>
        <p>Edit</p>
        <p>Delete</p>
      </span>
    </div>

    <div class="users-sub-menu">
      <p>All users</p>
      <p>invitaions</p>
      <p>Banned</p>
    </div>
  </div>

  <invitation_list></invitation_list>

</template>
