@import '../../mixins.scss';

.container {
    @include default-big-container;
    margin-left: 40%;
    justify-content: space-between;
    align-items: flex-start;
    height: 25%;
    width: 50%;
}

.users-top-menu {
    display: flex;
    width: 100%;
    justify-content: space-between;

    .users-title {
        margin-left: 30px;
        h1 {
            margin: 0;
        }
    }
    .users-crud-menu {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 50%;
    }
}

.users-sub-menu {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
}