@import "../../styles/Settings/all";
@import "../../styles/Tools/all";
@import "../mixins.scss";

@mixin white-acrylic {
  background-color: rgba(255, 255, 255, 0.8);
}

.container {
  @include default-container;
  &::before {
    @include white-acrylic;
  }
  &::after {
    @include white-acrylic;
  }
}

.vendor-container {
  @include default-subcontainer;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.margin-bottom {
  margin-bottom: 20px;
}

.logo-size {
  width: 120px;
}

@media only screen and (max-width: 600px) {
  .container {
    width: 100%;
    h1 {
      font-size: 2rem;
    }
  }
}

@media only screen and (min-width: 600px) {
  .container {
    width: 75%;
  }
}

@media only screen and (min-width: 992px) {
  .container {
    width: 50%;
  }
} 

