@import '../styles/Settings/all.scss';
@import '../styles/Tools/all.scss';

.index {
    height: 100%;
    padding: $grid-gutter;
    @extend %flex-container-vertical;

        svg{
            width: 100%;
        }
    &.acrylic {

    }
}
