.content-box {
    background-color: #fff;
    border-radius: .25rem;
    box-shadow: .3125rem .3125rem 0 darken($color-medium-grey, 15%);
    padding: $grid-gutter;
}

.narrow-column {
    @extend %fixed-width-at-tablet;
    margin: 0 auto;
    &.centered {
        text-align: center;
    }
}

.button-row {
    @extend %flex-container-horizontal;
    justify-content: space-between;
    padding: $grid-gutter;
    &.centered {
        justify-content: center;
    }
}