@import "../../mixins.scss";

.invite_user_container {
  @include default-big-container;
  position: absolute;
  padding: 0;
  top: -43px;
  right: 0;
  z-index: 100;
  width: 250px;
  height: 200px;

}
